Hi Heloo 

<!--/* <div class="container-fluid">
<div class="row">
<ul data-sly-list.obj="${currentPage.listChildren}">
   <li>${obj.name} </li>
   <li>${obj.title} </li>
   <li>${obj.path} </li>
    <li>${objList.index}</li>
    <li>${objList.count}</li>
</ul>
</div>
</div>
</div> */-->
<!--/*
<ul data-sly-list.obj="${currentPage.listChildren}">
<sly data-sly-test=${objList.first}>
 <li>${objList.count}</li>
 <li>${obj.title}</li>
 <li> This is First Elemet</li>
</sly>
<sly data-sly-test=${objList.middle}>
 <li>${objList.count}</li>
 <li>${obj.title}</li>
  <li> This is Middle Elemet</li>
</sly>
<sly data-sly-test=${objList.last}>
 <li>${objList.count}</li>
 <li>${obj.title}</li>
  <li> This is Last Elemet</li>
</sly>
</ul> */-->

<div class="${properties.aClass @context='styletoken'}"

${properties.text  @context='html'}

<!--/*

<div class="container-fluid">
<div class="row">
<ul data-sly-repeat.objr="${currentPage.listChildren}">
   <li>${objr.name} </li>
    <li>${objr.title} </li>
    <li>${objr.path} </li>
</ul>
</div>
</div>
</div> -->


