
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>
<sly data-sly-test.someValue="${properties.jcr:title}"></sly>

   Helooooooooooooo ${someValue}
${properties.sitePages}
<div class="${someValue?'container':'noconatiner'}">
    <h2>${properties.jcr:title}</h2>
    <p>${properties.para}</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">${properties.jcr:title}</button>
  <div id="demo" class="collapse">
    ${properties.lorem}
  </div>
      <sly data-sly-test="${properties.fileReference}">
      <img src="${properties.fileReference}">
        </sly>
</div> 

</sly>
<br>
        <sly data-sly-test="${wcmmode.edit}">Edit Mode<br>
<div data-sly-resource="${'parcontent' @ resourceType='wcm/foundation/components/parsys'}"/>
        </sly>
        <sly data-sly-test="${wcmmode.preview}">Previw Mode<br></sly>
        <sly data-sly-test="${wcmmode.disabled}">Disabled Mode<br></sly>
