

    <div class="cmp-helloworld__item" data-sly-use.model="com.learnaem.core.models.HelloWorldModel" data-sly-test="${model.message}">
        <p class="cmp-helloworld__item-label">Model message:</p>
        <pre class="cmp-helloworld__item-output"data-cmp-hook-helloworld="model">${model.message}</pre>
    </div>
</div>

<sly data-sly-use.o="cookie.js"></sly>
cookiee ${o.cookieset}

<p data-sly-text="${model.message}">Lorem ipsum</p>
<br>
    <p>${model.message}</p>

    <h2> attributes</h2>

    <div title="Lorem Ipsum" data-sly-attribute.title="${model.message}"> hariii</div>

    <img src="abc" data-sly-attribute.title="someTitle"data-sly-attribute.alt="someAlt"><hr><hr>

        <div data-sly-use.nav="navigation.js">${nav.foo}</div>